<div>
  <h4>FORMULARIO CLIENTE</h4>

  <form (ngSubmit)="guardar()">
    <label for="idUsuario">Id</label>
    <input type="text" id="idUsuario" name="idUsuario" [(ngModel)]="formCliente.idUsuario" required><br>

    <label for="email">Correo</label>
    <input type="email" id="email" name="email" [(ngModel)]="formCliente.email" required><br>

    <label for="clave">Clave</label>
    <input type="password" id="clave" name="clave" [(ngModel)]="formCliente.clave" required><br>

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="formCliente.nombre" required><br>

    <label for="apellido">Apellido</label>
    <input type="text" id="apellido" name="apellido" [(ngModel)]="formCliente.apellido" required><br>

    <label for="cedula">Cédula</label>
    <input type="text" id="cedula" name="cedula" [(ngModel)]="formCliente.cedula" required><br>

    <label for="telefono">Teléfono</label>
    <input type="text" id="telefono" name="telefono" [(ngModel)]="formCliente.telefono"><br>

    <label for="fotoPerfil">Foto Perfil</label>
    <input type="text" id="fotoPerfil" name="fotoPerfil" [(ngModel)]="formCliente.fotoPerfil"><br>

    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>
