<h1>{{title}}</h1>

<ng-container [ngSwitch]="userType">
    <ng-container *ngSwitchCase="'user'">
        <button>Acciones basicas</button>
    </ng-container>
    <ng-container *ngSwitchCase="'admin'">
        <button>Acciones basicas</button>
        <button>Acciones admin</button>
    </ng-container>
</ng-container>

<main>
    <router-outlet></router-outlet>
</main>

<nav>
  <a routerLink="">Inicio</a>
  <a routerLink="Service-Table">Servicios</a>
  <a routerLink="Habitacion-Table">Habitaciones</a>
  <a routerLink="Room-Table">Salas</a>
</nav>
