<h2>Tipos de habitación</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Capacidad</th>
      <th>Camas</th>
      <th>Categoría</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let h of roomtypes">
      <td>{{ h.name }}</td>
      <td>{{ h.description }}</td>
      <td>{{ h.price | currency:'COP':'symbol':'1.0-0' }}</td>
      <td>{{ h.capacity }}</td>
      <td>{{ h.numberOfBeds }}</td>
      <td>
        <button [routerLink]="['/roomtypes', h.id]">Ver</button>
        <button (click)="eliminarRoomType(h.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<button [routerLink]="['roomtype/nueva']">Crear nuevo</button>