<div
  class="offcanvas offcanvas-start offcanvas-custom"
  data-bs-backdrop="true"
  data-bs-keyboard="true"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>

    <!-- Logo + título -->
    <div class="logo">
      <a routerLink="/">
        <img src="assets/img/logo_gray.png" alt="Logo" />
      </a>
      <a class="titulo-logo" routerLink="/">
        <img src="assets/img/title_gray.png" alt="Title" />
      </a>
    </div>
  </div>

  <div class="offcanvas-body">
    <ul class="menu">
      <li><a routerLink="/reservas" data-bs-dismiss="offcanvas">Reserva</a></li>
      <li><a routerLink="/roomtype/lista" data-bs-dismiss="offcanvas">Habitaciones</a></li>
      <li><a routerLink="/servicio/lista" data-bs-dismiss="offcanvas">Nuestros servicios</a></li>
      <li><a routerLink="/historia" data-bs-dismiss="offcanvas">Historia</a></li>
      <li><a routerLink="/contacto" data-bs-dismiss="offcanvas">Contacto</a></li>
    </ul>
  </div>
</div>
