<form (ngSubmit)="onRegister()" [formGroup]="registerForm" novalidate>
  <div class="field">
    <label for="nombre">Nombre*</label>
    <input
      id="nombre"
      formControlName="nombre"
      type="text"
      required
      placeholder="John"
    />
  </div>

  <div class="field">
    <label for="apellido">Apellido*</label>
    <input
      id="apellido"
      formControlName="apellido"
      type="text"
      required
      placeholder="Doe"
    />
  </div>

  <div class="field">
    <label for="email">Correo*</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      required
      placeholder="tu@correo.com"
    />
  </div>

  <div class="field">
    <label for="cedula">Cédula*</label>
    <input
      id="cedula"
      formControlName="cedula"
      type="text"
      required
      placeholder="1123456789"
    />
  </div>

  <div class="field">
    <label for="telefono">Teléfono*</label>
    <input
      id="telefono"
      formControlName="telefono"
      type="text"
      required
      placeholder="255-5555-5555"
    />
  </div>

  <div class="field">
    <label for="fotoPerfil">URL Foto de Perfil</label>
    <input
      id="fotoPerfil"
      formControlName="fotoPerfil"
      type="text"
      placeholder="Deja en blanco para usar avatar por defecto"
    />
  </div>

  <div class="field">
    <label for="clave">Contraseña*</label>
    <input
      id="clave"
      formControlName="clave"
      type="password"
      required
      placeholder="••••••••"
    />
  </div>
</form>

<div class="actions">
  <button class="btn" type="submit">Registrar</button>
  <!-- Cambia de vuelta al login -->
  <button class="btn btn--outline" (click)="cambiarALogin()">
    Ya tengo cuenta
  </button>
</div>
