<section class="media-row">
  <!-- Marco con el VIDEO -->
  <div class="media-frame">
    <video
      class="video-bg"
      autoplay
      loop
      playsinline
      muted
      poster="assets/img/poster.png"
    >
      <source
        src="https://giessbach.ch/images/video_uploads/SchiffHD_Web.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="book">
    <h2>Bienvenidos a</h2>
    <h2>The Moravia</h2>
    <p>Somos el hotel de cinco estrellas más emblemático de Praga.</p>
    <p>
      Un refugio en Malá Strana,mundialmente famoso por su elegancia
      histórica,su impecable servicio, sus impresionantes habitaciones y suites,
      y su legendario kompot cuando cae la noche.
    </p>
    <div class="cover">
      <img src="/assets/img/logo_blue.png" alt="Logo" />
    </div>
  </div>
</section>
