<app-profile-header
  [usuario]="usuario"
  [formChanged]="formChanged"
></app-profile-header>

<main class="container pb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="card profile-card p-4 mt-4">
        <!-- Mensajes -->
        <div
          *ngIf="mensaje"
          class="alert alert-success alert-dismissible fade show"
        >
          {{ mensaje }}
          <button
            type="button"
            class="btn-close"
            (click)="mensaje = ''"
          ></button>
        </div>
        <div
          *ngIf="error"
          class="alert alert-danger alert-dismissible fade show"
        >
          {{ error }}
          <button type="button" class="btn-close" (click)="error = ''"></button>
        </div>
        <!-- Formulario -->
        <app-profile-form
          [usuario]="usuario"
          (formChangedChange)="formChanged = $event"
          (mensajeChange)="mensaje = $event"
          (errorChange)="error = $event"
        ></app-profile-form>
      </div>
    </div>
  </div>
</main>
