<section class="feature-hero">
  <img
    src="https://cldnr.prod.webx.talpa.digital/talpa-network/image/fetch/f_auto,c_limit,w_3840,q_auto/https://images.ctfassets.net/mwdlh7x5m54h/72sO8UnNUwLASrqMK86d3x/bb012a3c1006d7daa6d6ca8bf0fb2690/pexels-cottonbro-6466288.jpg"
    alt="Restaurante - servicio en habitación"
  />

  <div class="feature-card">
    <h3>Restaurante de tres estrellas <span>Michelin</span></h3>
    <p>Agradable para todo tipo de paladares.</p>
    <p>
      Reserva ahora una mesa en uno de los comedores más prestigiosos del mundo.
    </p>
    <a href="reservas.html" class="feature-btn">Reservar</a>
  </div>
</section>
