<form (ngSubmit)="onLogin()" [formGroup]="loginForm" novalidate>
  <div class="field">
    <label for="correo">Correo</label>
    <input
      id="correo"
      formControlName="email"
      type="email"
      required
      placeholder="tu@correo.com"
    />
  </div>

  <div class="field">
    <label for="clave">Contraseña</label>
    <input
      id="clave"
      formControlName="clave"
      type="password"
      required
      placeholder="••••••••"
    />
  </div>
</form>

<div class="actions">
  <button class="btn" type="submit">Entrar</button>
  <!-- Aqui cambia al formulario de registro -->
  <button class="btn btn--outline" (click)="cambiarARegistro()">
    Crear cuenta
  </button>

  <p class="muted" style="margin-top: 10px">
    ¿Olvidaste tu contraseña? <a routerLink="/recuperar">Recuperarla</a>
  </p>
</div>
