<form (ngSubmit)="onLogin()" [formGroup]="loginForm" novalidate>
  <div class="field mb-3">
    <label for="correo">Correo</label>
    <input
      id="correo"
      formControlName="email"
      type="email"
      class="form-control"
      required
      placeholder="tu@correo.com"
    />
  </div>

  <div class="field mb-3">
    <label for="clave">Contraseña</label>
    <input
      id="clave"
      formControlName="clave"
      type="password"
      class="form-control"
      required
      placeholder="••••••••"
    />
  </div>
</form>

<p class="muted mt-3 text-center">
  ¿Olvidaste tu contraseña? <a routerLink="/recuperar">Recuperarla</a>
</p>

<div class="actions d-flex justify-content-between align-items-center">
  <button class="btn btn-primary" type="submit">Entrar</button>
  <!-- Aqui cambia al formulario de registro -->
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="cambiarARegistro()"
  >
    Crear cuenta
  </button>
</div>
