<div>
  <ng-container *ngIf="cliente">
    <h4>INFORMACIÓN CLIENTE</h4>

    <ul>
      <li>Id: {{ cliente.idUsuario }}</li>
      <li>Correo: {{ cliente.email }}</li>
      <li>Clave: {{ cliente.clave }}</li>
      <li>Nombre: {{ cliente.nombre }}</li>
      <li>Apellido: {{ cliente.apellido }}</li>
      <li>Cédula: {{ cliente.cedula }}</li>
      <li>Teléfono: {{ cliente.telefono }}</li>
      <li>Foto de Perfil: {{ cliente.fotoPerfil }}</li>
    </ul>

    <button (click)="siguiente()" class="btn btn-primary">SIGUIENTE</button>
  </ng-container>
</div>
