<div *ngIf="roomtype as rt; else cargando">
  <h4>{{ rt.name }}</h4>
  <ul>
    <li>Id: {{ rt.id }}</li>
    <li>Descripción: {{ rt.description }}</li>
    <li>Precio: {{ rt.price }}</li>
    <li>Capacidad: {{ rt.capacity }}</li>
    <li>Camas: {{ rt.numberOfBeds }}</li>
    <li *ngIf="rt.image">
      Imagen:
      <a [href]="rt.image" target="_blank" rel="noopener noreferrer">ver</a>
    </li>
  </ul>
</div>

<ng-template #cargando>
  <p *ngIf="!error">Cargando tipo de habitación…</p>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
</ng-template>
