<h2>Habitaciones</h2>
<table>
  <thead>
    <tr>
      <th>Núumero de Habitación</th>
        <th>Tipo</th>
        <th>Disponible</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let h of rooms">
      <td>{{ h.habitacionNumber }}</td>
        <td>{{ h.type?.name }}</td>
        <td>{{ h.available }}</td>
 
      <td>
        
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          [routerLink]="['/room/detail', h.id]"
        >
          Ver
        </button>

        <button
        type="button"
        class="btn btn-sm btn-outline-danger"
        (click)="eliminarRoom(h.id)"
      >
        Eliminar
      </button>
      </td>
    </tr>
  </tbody>
</table>


<button
          type="button"
          class="btn btn-sm btn-outline-primary"
          [routerLink]="['/room/nueva']"
        >
          Crear
        </button>