<h2>Habitaciones</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Room Number</th>
      <th scope="col">Type</th>
      <th scope="col">Available</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of RoomsList">
      <td>{{ room.id }}</td>
      <td>{{ room.habitacionNumber }}</td>
      <td>{{ room.type?.name }}</td> <!-- 👈 muestra solo el nombre -->
      <td>{{ room.available ? 'Sí' : 'No' }}</td>
      <td>
        <button class="btn btn-primary" (click)="mostrarRoom(room)">Seleccionar</button>
        <button class="btn btn-danger" (click)="eliminarRoom(room)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Solo renderiza si hay habitación seleccionada -->
<app-room-detail *ngIf="selectedRoom" [room]="selectedRoom"></app-room-detail>

<!-- Formulario para agregar habitación -->
<app-room-form (addRoomEvent)="agregarRoom($event)"></app-room-form>
