<section class="suites-grid">
  <article class="tile">
    <div class="tile-media">
      <img
        src="https://giessbach.ch/images/image_uploads/Giessbach-Suite-Wohnzimmer.jpg"
        alt="Suite 1"
      />
    </div>
    <div class="tile-content">
      <h1>Suites <em>Lujosas</em></h1>
      <h2>
        Refinadas con una elegancia excepcional y atemporal, nuestras
        impresionantes suites de 5 estrellas le dejarán sin aliento.
      </h2>
      <div class="actions">
        <button class="cta" (click)="irAMasInformacion()">
          <span class="hover-underline-animation"> Más informacion </span>
          <svg
            id="arrow-horizontal"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="10"
            viewBox="0 0 46 16"
          >
            <path
              id="Path_10"
              data-name="Path 10"
              d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
              transform="translate(30)"
            ></path>
          </svg>
        </button>
      </div>
      <button class="cta" (click)="irAReserva()">
        <span class="hover-underline-animation"> Reservar ahora </span>
        <svg
          id="arrow-horizontal"
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="10"
          viewBox="0 0 46 16"
        >
          <path
            id="Path_10"
            data-name="Path 10"
            d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
            transform="translate(30)"
          ></path>
        </svg>
      </button>
    </div>
  </article>

  <article class="tile invert">
    <div class="tile-media">
      <img
        src="https://giessbach.ch/images/image_uploads/Suite-Horace-Edouard-Zimmer.jpg"
        alt="Suite 2"
      />
    </div>
    <div class="tile-content">
      <h1>Habitaciones <em>Inolvidables</em></h1>
      <h2>
        Estancias bañadas en luz y detalles artesanales para un descanso
        perfecto.
      </h2>
      <div class="actions">
        <button class="cta" (click)="irAMasInformacion()">
          <span class="hover-underline-animation"> Mas informacion </span>
          <svg
            id="arrow-horizontal"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="10"
            viewBox="0 0 46 16"
          >
            <path
              id="Path_10"
              data-name="Path 10"
              d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
              transform="translate(30)"
            ></path>
          </svg>
        </button>
      </div>
      <button class="cta" (click)="irAReserva()">
        <span class="hover-underline-animation"> Reservar ahora </span>
        <svg
          id="arrow-horizontal"
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="10"
          viewBox="0 0 46 16"
        >
          <path
            id="Path_10"
            data-name="Path 10"
            d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
            transform="translate(30)"
          ></path>
        </svg>
      </button>
    </div>
  </article>
</section>
